/* use this for screens larger than 648px (41.5em) */
.left.desktop-only {
    display: block !important;
}

.searchbar {
    display: block !important;
}
					
.product-search {
    margin: 0 250px 0 270px !important;
}

.nav-left, .nav-right { 
    top: 0px !important;
}

.nav-right {
    left: auto;
    right: 50px !important;
}

.banner-nav {
    display: block;
}

.banner-nav-lite {
    display: none;
}

.mobile-only {
    display: none !important;
}

#controls { 
    height: 56px !important;
}

.section-title {
    padding:8px;
}

/* use this for full width screens - 984px (61.5em) and larger */
@media screen and (min-width: 61.5em) {
    .desktop-only {
        display: block !important;
    }

    .desktop-exclude {
        display: none !important;
    }
    
    .product-search {
        margin: 0 450px 0 280px !important;
    }
}