
html {
    height: 100%
}

body {
    margin: 0px;
    padding: 0px;
    font: 12px Verdana;
    color: #222;
    min-width: 320px;
}

hr {
    border: 0;
    width: 100%;
    color: #aaa;
    background-color: #aaa;
    height: 1px;
}

.width-fix {
    width: 960px;
    max-width: 1280px;
    margin: auto;
    position: relative;
}

#wrap {
    width: 100%;
    height: 100%
}
    
@media screen and (min-width: 1px) {
    .width-fix {
        width: auto;
    }
}

.left {
    float: left;
}
/*
.right {
    float: right;
}
*/
.clear {
    clear: both;
}

.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}

.right-left {
    float: right;
}

@media screen and (max-width: 600px) {
    .right-left {
        float: left;
    }
}

.left-right {
    float: left;
}

@media screen and (max-width: 600px) {
    .left-right {
        float: right;
    }
}

.capitalize {
    text-transform: capitalize;
}

.italic {
    font-style: italic;
}

.center, .text-center {
    text-align: center;
}
.right, .text-right {
    text-align: right;
}
.text-left {
    text-align: left !important;
}
.strike {
    text-decoration: line-through;
}
.hidden {
    display: none;
}
.inline {
    display: inline;
}

a, a:link, a:visited, .fakeLink {
    color: #00599c;
    text-decoration: none;
}
a:hover, .fakeLink:hover {
    color: #D11600;
    cursor: pointer;
}

#header {
    position: relative;
    /*background: #2e6db1;*/
    background-color: white;
    z-index: 1000;
    /*padding:0;*/
    padding-bottom: 3%;
    padding-top: 0;
    padding-left:0;
    padding-rignt: 0;
    height:auto;
}
#header #logo {
    padding: 20px 15px 10px 10px;
}
#header #logo a {
    display: block;
    width: 215px;
    height: 44px;
    /*background-image: url(/img/mingle_logo_white.png);*/
    background-repeat: no-repeat;
    background-size: 215px 44px;    
    /*background-image : url(/img/mingle_logo_white-ie.png);*/
}
#header #navigation {
    position: absolute;
    top: 34px;
    right: 5px;
}
#header #navigation a {
    color: #fff;
}
#header #navigation>.menu>li>a, #header #navigation #controls .menu>li>a {
    line-height: 40px;
}
#header #navigation>.menu>li:hover a, #header #navigation #controls .menu>li:hover>a {
    color: #00599c;
}
#header #navigation #fc-logo:hover {
    background: none;
    border-radius: 0;
}
#header #navigation .has-dd:hover {
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
#header #navigation ul>li {
    border-top: none;
}

/*This section controls the menubar settings*/
#controls {
    height: 56px;
    background: #014fa2;  /* uncomment for production */
   /* background: #01A24C;   Uncomment for development*/
    position: relative;
    z-index: 999;
}
/*
@media screen and (max-width: 600px) {
    #controls {
        height: auto;
        min-height: 56px;
    }
}
*/

#controls .text-limit-100px {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*line-height: 1.1em;*/
    zoom: 1;
}
/*
#controls .text-limit-100px.myaccount {
    width: 125px;
}
*/
#controls .desktop-only {
    position: relative;
}
#controls.js-mobile-active {
    height: 110px;
}
#controls .product-search {
    top: 5px;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul {
    padding: 0.5em;
    margin: 0 1em;
    list-style: none;
}

/* necessary? */
.menu ul li {
    line-height: 1.5em;
}

.menu h3 {
    padding: 0;
    font-weight: normal;
    clear: left;
}
.menu hr {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.menu>li {
    float: left;
    overflow: hidden;
    padding: 0px;
}
.menu>li>ul {
    display: none;
    position: absolute;
    padding: 5px 0px;
    margin: 0;
    background: #fff;
    z-index: 999;
    border: 1px solid #c8ccce;
    border-top: 1px solid #fff;
    min-width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.menu>li>ul>li {
    padding: 0 10px;
}
.menu>li>ul>li>ul {
    padding: 2px 0 12px 0px;
}
.menu>li>ul>div>li {
    padding: 0 15px;
}
.menu>li>a {
    display: block;
    padding: 0 15px;
    color: #00599c;
}
.menu>li>div {
    min-width: 140px;
    min-height: 55px;
}

/*
.menu>li>div.my-shopping-cart {
    min-width: 140px;
}
.menu>li>div.my-account {
    min-width: 140px;
}
*/
@media screen and (max-width: 600px) {
    .menu>li>div {
        /*
        min-width: 55px;
        width: 55px;
        */
        min-width: 45px;
        width: 45px;        
    }
}
@media screen and (min-width: 601px) and (max-width: 959px) {
    .menu>li>div {
        /*
        min-width: 55px;
        width: 55px;
        */
        min-width: 55px;
        width: 55px;        
    }
}
.menu>li>div>a {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    padding-top: 15px;
    color: #fff;
    line-height: 1.2em;
}

@media screen and (min-width: 600px) {
    .menu>li.js-desktop:hover {
        background: #fff;
        border-top: #00599c solid 1px;
    }
    .menu>li.js-desktop:hover div>a, .menu>li.js-desktop:hover .header-sublabel {
        color: #D11600;
    }
    .menu>li.js-desktop:hover .hdr-sprite-products {
        background-position: -260px 0px;
    }
    .menu>li.js-desktop:hover .hdr-sprite-list {
        background-position: -434px 0px;
    }
    .menu>li.js-desktop:hover .hdr-sprite-account {
        background-position: -302px 0px;
    }
    .menu>li.js-desktop:hover .hdr-sprite-store {
        background-position: -346px 0px;
    }
    .menu>li.js-desktop:hover .hdr-sprite-cart {
        background-position: -390px 0;
    }
    .menu>li.js-desktop:hover.js-menuhover ul {
        display: block;
    }
}

.header-label {
    font-weight: bold;
    font-size: 1.2em;
}
.header-sublabel {
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
    white-space: nowrap;
    position: relative;
}

.header-sprite {
    position: relative;
    width: 45px;
    height: 45px;
    top: -8px;
    background-image: url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/control-icons.png);
    background-image/*\**/: url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/header-icons-ie.png) \9;
    background-size: 650px;
    background-repeat: no-repeat;
}
/*
@media screen and (max-width: 959px) {
    .header-sprite {
    margin: 0 5px;
    }
}
*/
.hdr-sprite-list {
    background-position: -171px 0px;
}
.hdr-sprite-account {
    background-position: -42px 0px;
}
.hdr-sprite-store {
    background-position: -85px 0px;
}
.hdr-sprite-cart {
    background-position: -129px 0px;
}
.hdr-sprite-mobile-menu {
    background-position: -177px 0px;
}
.mobile-search {
    display: none;
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 0px;
    right: 5px;
    background-image: url(../../images/sprites/header-icons.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: -600px 0px;
}
@media screen and (max-width: 600px) {
    .mobile-search {
        display: block;
    }
}
/*
.js-active-dd {
    background-color: #fff;
    border-top: #00599c 1px solid;
}

.js-active-dd .hdr-sprite-products {
    background-position: -260px 0px;
}
.js-active-dd .hdr-sprite-list {
    background-position: -434px 0px;
}
.js-active-dd .hdr-sprite-account {
    background-position: -302px 0px;
}
.js-active-dd .hdr-sprite-store {
    background-position: -346px 0px;
}
.js-active-dd .hdr-sprite-cart {
    background-position: -390px 0;
}
.js-active-dd .hdr-sprite-mobile-menu {
    background-position: -405px 0px;
}
.js-active-dd.mobile-search {
    background-position: -541px 0px;
    background-color: #00599c;
}
*/
.nav-right {
    position: absolute;
    right: 5px;
    top: 0px;
}
@media screen and (max-width: 600px) {
    .nav-right {
    position: relative;
    padding: 0px 10px;
    right: 0px;
}
}.nav-left {
    position: absolute;
    top: 0px;
    margin-left: 5px;
}
@media screen and (max-width: 600px) {
    .nav-left {
        position: relative;
    }
}

.primary-dd {
    width: 470px;
    right: 0px;
}
.primary-dd .left-border {
    border-left: #c8ccce 1px solid;
}
@media screen and (max-width: 600px) {
    .primary-dd {
    position: relative;
}
}
.mobile-dd {
    margin-top: 10px;
}
.mobile-dd ul {
    list-style-type: none;
    width: 96%;
    margin: 0 2%;
    padding: 0px;
}
.mobile-dd .categories {
    float: left;
    clear: both;
    font-weight: bold;
    padding: 10px 0;
}
.mobile-dd hr {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.mobile-dd ul>li .js-mobile-nav {
    border-bottom: 1px solid #888d91;
    padding: 15px;
    display: block;
}
.mobile-dd ul>li ul {
    clear: both;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.mobile-dd ul>li ul li {
    float: left;
    display: block;
    width: 50%}
@media screen and (max-width: 600px) {
    .mobile-dd ul>li ul li {
    width: 100%}
}
.mobile-dd ul>li ul li a {
    border-bottom: 1px solid #888d91;
    padding: 15px;
    display: block;
    margin: 0 5px;
}
.mobile-dd .right-left {
    float: left;
}
.searchbar {
    height: 55px;
}

.product-search {
    position: relative;
    height: 40px;
    padding: 2px;
    background: #fff;
    margin: 0 470px 0 300px;
}

@media screen and (min-width: 601px) and (max-width: 959px) {
    .product-search {
        margin: 0 180px 0 125px;
    }
}

@media screen and (max-width: 600px) {
    .product-search {
        margin: 0px 5px;
        width: auto;
    }
    
    #header #navigation {
        display: none;
    }
    
    .searchbar {
        display: none;
    }
}

.product-search .term {
    position: relative;
    width: 100%;
    left: 0px;
    line-height: 24px;
    background: #fff;
    padding: 0;
    border: none;
    color: #1c1b1a;
    line-height: 28px;
    text-indent: 5px;
    outline: none;
}

.product-search input.btn-search, .product-search input.btn-search:hover {
    position: absolute;
    top: 0;
    right: 4px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    border: 0;
    width: 40px;
    height: 40px;
    min-height: 0;
    background: url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/control-icons.png) no-repeat;
    background-image/*\**/: url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/header-icons-ie.png) \9;
    background-size: 650px;
    background-position: -520px -0px;
    text-indent: -999px;
    line-height: 0;
    color: white;
    cursor: pointer;
    border-radius: 0px;
}
.product-search .field-error-message {
    display: none !important;
}
.product-search .ui-invalid-input {
    border: none !important;
}
.product-search>div {
    margin-right: 45px;
}
.js-header-bottom {
    margin: 10px 0px;
    border-top: 1px solid #888d91;
}
.product-search #customItemAttribute {
    margin: 0 0 0 0.75em !important;
}
input[type='submit'], input[type='button'] {
    font-size: 100%}
#search, #search:hover {
    margin: 0 15px 0 0;
    padding: 0;
    line-height: 0;
    background: none;
}
#content {
    background: #fff;
    padding: 1px 0px 15px;
}
#content #breadcrumbs {
    padding: .5em 0;
    border-bottom: 1px solid #c8ccce;
    white-space: nowrap;
}
#content #breadcrumbs p {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 15px;
}
#content #main {
    *position: relative;
    *z-index: 2;
}
#content .product-search {
    margin: 0px;
    border: 1px solid #c8ccce;
    display: block;
}
#content .product-search .term {
    top: 10px;
    line-height: 13pt;
}


@media screen {
    .print-only {
        display: none;
    }
}

@media print {
    .screen-only {
        display: none;
    }
}

@media screen and (max-width: 959px) {
    .desktop-only {
        display: none !important;
    }
}

.mobile-only {
    display: none;
}

@media screen and (max-width: 600px) {
    .mobile-only {
        display: block !important;
    }
}
/*
@media screen and (max-width: 959px) {
    .mobile-only {
        display: block !important;
    }
}
*/

/*
.absolute-content {
    margin: 0 265px 0 0;
    min-height: 500px;
}
@media screen and (max-width: 959px) {
    .absolute-content {
    margin: 0;
}
}.absolute-sidebar {
    width: 250px;
    border-left: 1px solid #c8ccce;
    margin: 0 0 15px 15px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 15px;
}
@media screen and (max-width: 959px) {
    .absolute-sidebar {
    position: relative;
    width: auto;
    border: none;
    margin: 0px;
    top: 0;
}
}@media screen and (max-width: 600px) {
    .absolute-sidebar {
    clear: left;
    float: none;
}
}.sb-left, .img-col {
    width: 250px;
    float: left;
    margin: 0 -15px 1em 0;
}
@media screen and (max-width: 600px) {
    .sb-left, .img-col {
    float: none;
    margin: 0;
    width: auto;
}
}.sb-left .attribute, .img-col .attribute {
    margin: 5px 15px 5px;
}
.sb-left .attribute ul, .img-col .attribute ul {
    height: auto;
}
.sb-right, .img-col.right, col-right {
    width: 250px;
    float: right;
    margin: 0 0 1em -15px;
}
@media screen and (max-width: 600px) {
    .sb-right, .img-col.right, col-right {
    width: auto;
    float: none;
    margin: 0 0 1em;
}
}.sb-right select, .img-col.right select, col-right select {
    width: 175px;
}

.sb-right dl dt, .img-col.right dl dt, col-right dl dt {
    height: auto;
}
*/

/***************************** production stuff ******************************/
.hdr-sprite-search {background-position:-568px 0px}
.hdr-sprite-search.js-active-dd {background-position:-610px 0px}

.hdr-sprite-tools {background-position:-212px 0px}
.control a:hover .hdr-sprite-tools { background-position:-476px 0px; }

/* dropdown menu begin */
.dropdown-menu-root > a:link {
	background-color: #000;
	color: #000 !important; /*#D11600;*/
}
.dropdown-menu-items a,
.dropdown-menu-items a:link,
.dropdown-menu-items a:visited {
	color: #014FA2;
	text-decoration: none;
	padding: 2px 10px 2px 30px;
}

.dropdown-menu-items a:hover {
		color: #D11600;
}
.dropdown-menu-items {
	background: #fff;
	box-shadow: 0px 1px 1px 1px #bbbbbb;
}

.dropdown-menu {
    /*white-space: nowrap;*/
    display: inline-block;
    /* IE7 inline-block fix */
    *display: inline;
    *zoom: 1;
    margin: 0px 4px 10px 0px;
}
.dropdown-menu,
.dropdown-menu ul {
    padding: 0;
    list-style: none;
}
.dropdown-menu ul {
		display: none;		
    position: absolute;
    z-index: 1000000;
}

.dropdown-menu li {
    margin: 0;
    padding: 0 0 4px 0;
    display: inline-block;
    /* IE7 inline-block and padding fix */
    *display: inline;
    *zoom: 1;
    *vertical-align: bottom;
}

.dropdown-menu li a {
    display: block;
}
.dropdown-menu ul li {
    position: relative;
    display: block;
}

.dropdown-menu-items .subtitle {
	 font-size: 14px;
	 padding: 2px 10px 2px 15px;
}
/* dropdown menu end */

/* buttons begin */
.ui-buttonset {
display: inline-block;
background-color: #eaeaea;
overflow: hidden;
margin: 0px 5px 3px 5px;
}
.ui-buttonset .ui-button, .ui-buttonset button {
float: left;
margin: 0px;
}

.ui-button {
    background-color: #eaeaea;
    color: #555 !important;
    cursor: pointer;
    padding: 0 1em;
    border: 1px solid #c8ccce;
    overflow: hidden;
    display: inline-block;
    font-weight: bold;
    margin: 0px 5px;
    line-height: 38px;
    min-height: 38px;
}

.ui-button:hover {
  color: #555;
  background: #c8ccce;
  border: 1px solid #999;
}

.ui-button-active {
    cursor: default;
    background: #c8ccce;
}

.ui-link-button {
    background-color:#cc0000;
    text-indent:0;
    display:inline-block;
    color:#ffffff !important;
    font-size:12px;
    font-weight:normal;
    font-style:normal;
    padding: 10px 12px 10px 12px;
    text-decoration:none;
    text-align:center;
}
.ui-link-button:hover {
    color:#ffffff;
    opacity:0.7;
    filter:alpha(opacity=70);
}

/* buttons end */

/* footer begin */
.footer {
    padding-bottom: 10px;
    background-color: #2E6DB1;
}

.footd {
	  float:left; 
    background-color: #2E6DB1; 
    height: 100px;
}

#foot-done{ width:100%; }
#foot-dtwo{ width:100%; }
#foot-dthree{ width:100%; }
#foot-dfour{ width:100%; text-align:left;  }
#foot-copy {width: 100%; }

@media screen and (min-width: 500px) {
    #foot-done{ width:50%; }
    #foot-dtwo{ width:50% }
    #foot-dthree{ width:100%; }
    #foot-dfour{ width:100%; text-align:left;  }    
}

@media screen and (min-width: 900px) {
    #foot-done{ width:25%; }
    #foot-dtwo{ width:25%;}
    #foot-dthree{ width:25%;}
    #foot-dfour{ width:25%; }
}

.foot-menu {
	list-style: none;
	padding: 2px;
        line-height: 1.5em;
}

.foot-menu li {
    padding-left:10px;
}

.foot-menu a,
.foot-menu a:link,
.foot-menu a:visited {
	color: #fff;
	text-decoration: none;
	padding: 2px;
}

.foot-menu a:hover {
		color: #fff;
		text-decoration: underline;
}

.foot-menu .subtitle, .social-container .subtitle {
	color: #fff;
}

.social {
    background: url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/social-icons.png) no-repeat;
    background-image/*\**/:url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/social-icons.png) \9;
    height: 44px;
    width: 44px;
    display: block;
    margin: 5px 5px;
    overflow: hidden;
}

a#facebook {
background-position: 0px 0px;
}
a#twitter {
background-position: -167px 0px;
}
a#youtube {
background-position: -112px -56px;
}
a#linkedin {
background-position: -222px 0px;
}

.social-container {
	height: 70px;
	max-width: 225px;
	margin: 16px 0px 0 5px;
	display: block;
	width: 225px;
}

#test-foot3, #foot-social-wrap {
		display: none;
}

#foot-acct-wrap {
	display: block;
}

@media screen and (min-width: 600px) {
    #test-foot3 {
            display: block;
    }
    #foot-acct-wrap {
            display: none;
    }	
}

@media screen and (min-width: 800px) {
	#foot-social-wrap {
			display: block;
	}
}
/* footer end */

/* portlets begin */
.portlet {
    border-radius: 5px;
    margin: 0 0 1em 0;
    border: 1px solid #c8ccce; 
}
.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.2em;
  position: relative;
  font-size: 1.2em;
}

.portlet-header-border {
  border-bottom: 1px solid #c8ccce;
}

.portlet-header-noborder {
  border-bottom: 0px;
}

.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}
.portlet-content {
  padding: 0.4em;
}
/* portlets end */

/* fake table begin */
.fake-table {
    display: table;
    width: 100%;
    border: 1px solid #c8ccce;
    border-radius: 5px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}
.fake-table .header {
    display: table-header-group;
    background: #eaeaea;
}
.fake-table .row {
    display: table-row;
    width: auto;
}
.fake-table .row .cell {
    display: table-cell;
    line-height: 1.5em;
    padding: 0.5em 15px;
    vertical-align: top;
    border-bottom: 1px solid #c8ccce;
}
.fake-table .header .cell {
    color: #555;
    font-weight: bold;
    border-bottom: 1px solid #c8ccce;
}
.fake-table .body {
    display: table-row-group;
}
/* fake table end */

/* forms begin */
form input[type="text"] {
    font-size: 1.1em;
}

form select {
    padding: 11px 0 11px 10px;
    border: 1px solid #c8ccce;
    min-width: 185px;
    margin: 0;    
}

form input[type="text"], form input[type="password"], form input[type="url"], form input[type="email"], form input[type="tel"], form input[type="date"], form input[type="number"] {
    line-height: 36px;
    height: 36px;
    text-indent: 10px;
    border-radius: 0px;
    border: 1px solid #c8ccce;
    min-width: 10px;
    margin: 0;
}
input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
    padding: 1px 0px;
}
input, input[type="password"], input[type="search"], isindex {
    /*-webkit-appearance: textfield;*/
    padding: 1px;
    background-color: white;
    border: 2px inset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}

input, textarea, keygen, select, button, isindex {
    margin: 0em;
    font: -webkit-small-control;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
input, textarea, keygen, select, button, isindex, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

input[type='submit'], input[type='button'] {
    font-size: 100%;
}
button.action, button[type='submit'], button.submitButton, input[type='button'].action, input[type='button'][type='submit'], input[type='button'].submitButton, input[type='submit'].action, input[type='submit'][type='submit'], input[type='submit'].submitButton, .button.action, .button[type='submit'], .button.submitButton {
    background-color: #D11600 !important;
}

input[type='submit']:hover {
    color:#ffffff;
    opacity:0.7;
    filter:alpha(opacity=70);    
}

button, input[type='button'], input[type='submit'], .button {
    display: inline-block;
    margin: 0 5px 5px 0;
    border: 0;
    background-color: #D11600;
    color: #fff !important;
    padding: 0 1em;
    font-family: Verdana;
    cursor: pointer;
    white-space: nowrap;
    font-weight: normal;
    line-height: 38px;
    min-height: 38px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
/* forms end */

/* modal begin
.jqmWindow {
    display: none;
    top: 10%;
    position: absolute;
    z-index: 10000;
    left: 8px;
    right: 8px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #fff;
    border: 1px solid black;
    padding-bottom: 12px;
}
*/

body.jqmWindow {
    overflow: hidden;
}

.jqmWindow {
    display: none;
    position: fixed;
    top: 10%;
    left: 8px;
    right: 8px;
    bottom: 10%;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid black;
    padding-bottom: 12px;
}

.jqmOverlay {
    background-color:#000;
}  
/* modal end */



/************** misc *********************/
@media screen and (max-width: 959px) {
    .fourth {
        width: 50%;
    }
    .fourth:nth-child(2n+1) {
        clear: left;
    }
    
    #product-attributes {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .fake-table .header {
        display: none;
    }
    .fake-table .row .cell {
        width: 100%;
        display: block;
        clear: left;
        min-height: 4px;
        border-bottom: 0px;
        padding: 2px 10px !important;
    }
    
    .narrow {
        display: inline !important;
    }
    
    .center, .text-center {
        text-align: left;
    }
    
    .right, .text-right {
        text-align: left;
    }    
    
    .fake-table .body .row:nth-child(even) .cell {
    background: #eaeaea;
    }
    
    .mobile-hide {
        display: none;
    }
}

.small {
    font-size: 85%
}
.big {
    font-size: 125%
}

.narrow {
    display: none;
}

/***** testing *****/
.cartSummary {
    padding: 0;
}
.cartSummary dt {
    clear: both;
    font-weight: normal;
    width: 70%
}
.cartSummary dt a {
    display: block;
}
@media screen and (max-width: 959px) {
    .cartSummary dt a {
        padding: 10px 0px;
    }
}
.cartSummary dd {
    float: right;
}

dl {
    padding: 0.5em 15px;
    margin: 0;
    line-height: 1.5em;
    overflow: hidden;
}
dl dt, dl dd {
    padding: 0em;
    line-height: 1.5em;
    float: left;
    *float: none;
    margin: 0;
}
dl dt {
    font-weight: bold;
    padding-right: 0.5em;
    clear: left;
    overflow: hidden;
    min-width: 125px;
}

dl.wide dt {
    min-width: 200px;
}

/*****/
.product {
    display: block;
    position: relative;
    border: 1px solid #c8ccce;
    border-radius: 5px;
    margin: 0 15px 15px 0;
    text-align: center;
    overflow: hidden;
    height: 127px;
}

.product img {
    display:block;
    margin:auto;
}

.fourth {
    float: left;
    width: 25%;
    *width: 24.9%
}
.fourth:nth-child(4n+1) {
    clear: left;
}
@media screen and (max-width: 959px) {
    .fourth {
        width: 50%
    }
    .fourth:nth-child(4n+1) {
        clear: none;
    }
    .fourth:nth-child(2n+1) {
        clear: left;
    }
}

@media screen and (max-width: 600px) {
    #product-categories .fourth, #product-top-results .fourth, #store-results .fourth {
        width: 100%;
    }
    .product {
        padding-left: 10px;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #c8ccce;
        height: auto;
        text-align: left;
        margin: 0;
        height: 37px;
    }    
    .product img {
        display: none;
    }
    
    .product .description {
        display: none;
    }
}

.section-title {
    font-size:125%; 
    font-weight:800; 
    padding-top:12px;
}

.section, .content {
    min-width: 240px;
    overflow: hidden;
    position: relative;
}

.header.active {
    background: #eaeaea;
    color: #00599c;    
    border-bottom: 1px solid #c8ccce;
    padding: 0.5em 15px;
    margin: 0;
    line-height: 1.5em;
}

.border {
    border: 1px solid #c8ccce;
}

@media screen and (min-width: 700px) {
    .sb-right {
        width: 350px !important;
        float: right !important;
        margin: 0 0 0 15px;
    }
}
    
.sb-right {
    width: 100%;
    float: left;
}

/*
@media screen and (max-width: 600px) {
    dl dt {
        width: 100%
    }
}
dl dd {
    margin: 1px 0;
    *clear: left;
}
.checkoutAsGuestBranches dl dt {
    width: auto;
}
@media screen and (max-width: 600px) {
    .checkoutAsGuestBranches dl dt {
        width: 100%
    }
}
dl.filter dt {
    display: table;
    *display: block;
    *float: left;
    *clear: left;
    overflow: hidden;
    vertical-align: middle;
    *height: auto;
    width: 200px;
    *width: auto;
}
@media screen and (max-width: 600px) {
    dl.filter dt {
        width: auto;
    }
}
dl.filter dt label {
    display: table-cell;
    *display: block;
    vertical-align: middle;
}
dl.filter dd {
    *float: none !important;
    *display: block !important;
    *clear: left;
    *overflow: hidden;
    *margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
    dl.filter dd {
        clear: left;
    }
}
dl.filter dd label {
    display: block;
    margin: 1em 0 0;
}
*/

form dl dt {
    *display: block;
    *float: left;
    *clear: left;
    overflow: hidden;
    vertical-align: middle;
    *height: auto;
    width: 125px;
    *width: auto;
}
form dl dt label {
    display: table-cell;
    *display: block;
    vertical-align: middle;
    padding: 12px 12px 12px 0;
}

@media screen and (max-width: 600px) {
    form dl dt {
        width: auto;
    }
    /*
    form dl dt label {
        padding: 0 12px 0 0 !important;
    } 
    */
}

form dl dd {
    *float: none !important;
    *display: block;
    *clear: left;
    *overflow: hidden;
    *margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
    form dl dd {
        clear: left;
    }
}
form dl dd label {
    display: block;
    margin: 1em 0 0;
}
/*
table td dl dt, table td dl dd {
    display: inline;
    width: auto;
    float: none;
    vertical-align: top;
}

.fake-table .row .cell dl {
    padding: 0;
}
.fake-table .row .cell dl dt {
    clear: left;
}
.fake-table .row .cell dl dt, .fake-table .row .cell dl dd {
    display: inline;
    width: auto;
    float: left;
    margin: 0;
    vertical-align: top;
    padding: 0px;
}
.fake-table .row .cell dl dt.min-width, .fake-table .row .cell dl dd.min-width {
    min-width: 155px;
}
.fake-table .row .cell dl dt.add-padding, .fake-table .row .cell dl dd.add-padding {
    padding: 7px 15px 7px 0;
}

.scantree dl {
    margin: 0px;
    padding: 0px;
    width: 100%;
    line-height: 22px;
    height: 22px;
}
*/

dl.filter dt {
    display: table;
    *display: block;
    *float: left;
    *clear: left;
    overflow: hidden;
    vertical-align: middle;
    *height: auto;
    width: 300px;
    *width: auto;
}
@media screen and (max-width: 600px) {
    dl.filter dt {
        width: auto;
    }
}
dl.filter dt label {
    display: table-cell;
    *display: block;
    vertical-align: middle;
}
dl.filter dd {
    *float: none !important;
    *display: block !important;
    *clear: left;
    *overflow: hidden;
    *margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
    dl.filter dd {
        clear: left;
    }
}
dl.filter dd label {
    display: block;
    margin: 1em 0 0;
}

.half{
    float: left;
    width: 50%;
}
.half:nth-child(2n+1) {
    clear: left;
}

@media screen and (max-width: 700px) {
    .half {
        width:100%;
    }
    .third {
        width:100%;
    }
    .narrow {
        display:inline;
    }
    .narrow-hide {
        display: none !important;
    }
}

.third {
    float: left;
    width: 33.3333%;
}

.third:nth-child(3n+1) {
    clear: left;
}

.formSuccess {
    padding: 10px 10px 10px 40px;
    border: 1px solid #90a03e;
    background: #bed352 url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/success.gif) no-repeat 15px 12px;
    overflow: hidden;
    zoom: 1;
}            
.formError {
    padding: 10px 10px 10px 40px;
    border: 1px solid #d51d1d;
    background: #ffcece url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/failure.png) no-repeat 15px 12px;
    overflow: hidden;
    zoom: 1;
}
.fieldError {
    color: #ff0000;
    padding-left: 4px;
    white-space: nowrap;
    display: inline-block;
}

.red-square.icon {
    background: url('//mgl1939.s3-website-us-east-1.amazonaws.com/img/red_square.gif') 0px 50% no-repeat;
    padding-left: 12px;
}
.green-square.icon {
    background: url('//mgl1939.s3-website-us-east-1.amazonaws.com/img/green_square.gif') 0px 50% no-repeat;
    padding-left: 12px;
}

.fake-select-head {
    display: inline-block;
    background-color: #eaeaea;
    border: 1px solid #c8ccce;
    cursor: pointer;
    line-height: 24px; 
    padding: 8px;

}

.fake-select-head a {
    font-size: 14px;
    color: #555;
    font-weight: bold;    
}

.fake-select {
    white-space: nowrap;
    display: inline-block;
    /* IE7 inline-block fix */
    *display: inline;
    *zoom: 1;
}

.fake-select li {
    margin: 0;
    padding: 0;
    display: inline-block;
    /* IE7 inline-block and padding fix */
    *display: inline;
    *zoom: 1;
    *vertical-align: bottom;
}

.fake-select,
.fake-select ul {
    margin: 0;
    padding: 4px;
    list-style: none;
}
.fake-select ul {
    display: none;		
    position: absolute;
    z-index: 1000000;
}

.fake-select-items {
    font-size: 14px;
	background: #fff;
	border: 1px solid #000;
        line-height: 1.5;
}

.fake-select-items li {
    padding: 0px 15px 0px 4px;
}

.fake-select li a {
    display: block;
}
.fake-select ul li {
    position: relative;
    display: block;
}

#regButton input[type="submit"]:hover{
    border: 1px solid #999;color:#000;
}
.input-label{
    font-size:125%;
    font-weight: bold;
}

.input-textwidth{
    width:250px;
}

.input-text{
    font-size:150%;
}

.message-logo{
    width:32px;
    height:32px;
    vertical-align:middle;
    border: 0;
}

.message-text{
    font-size:125%;
}

.text-zero{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

/*This is for my kludgy table for spiff claim details*/
.claim-details-tab{

    border: 1px solid #eaeaea;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/

    /*border: #EEEEEE solid thin;*/
}


.claim-details-tab, th{

    /*background-color: #c8ccce;*/
    background-color: #eaeaea;
    padding-top: 0.5em;
   /* border-collapse: collapse; */

}


.claim-id-cell{

    text-align: center;
    border-collapse:collapse;
    /*border-bottom: #c8ccce thin solid;*/
    border-bottom: #eaeaea 1px solid;
    background-color: white;
    padding: 2px;
    width: 25%;

}

#claim_info{

    border: #eaeaea 3px solid;
    bottom-margin: 1em;
}

.blank_row{

    height: 10px;
}

#claim-info-details{

    border: #eaeaea 2px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition:      -o-transform .3s ease-out;
    transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
/*.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}*/
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
/*
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}*/
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: none;
    /* border-bottom: 1px solid #e5e5e5; */
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
    /* border-top: 1px solid #e5e5e5; */
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* Autocomplete Typehead Related Style */
html {
    overflow-y: scroll;
    *overflow-x: hidden;
}


.tt-dropdown-menu,
.gist {
    text-align: left;
}

/* base styles */
/* ----------- */

html {
    font-family: Georgia;
    font-size: 18px;
    line-height: 1.2;
    color: #333;
}


p {
    margin: 0 0 10px 0;
}

/* site theme */
/* ---------- */

.title
{
    font-family: Georgia;
    margin: 20px 0 0 0;
    font-size: 64px;
}



.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    /* font-size: 24px; */
    font-size: medium;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /* -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; */
    outline: none;
}

.typeahead {
    vertical-align: baseline !important;
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0052a4;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    top: 2px !important;
    left: 9px !important;
    width: 175px;
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /*  -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; */
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    width: 175px;
    font-size: small !important;
}

.tt-suggestion {
    padding: 3px 20px;
    /* font-size: 18px; */
    font-size: medium;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0052a4;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

/* example specific styles */
/* ----------------------- */



.CustomTemplate .tt-suggestion {
    padding: 8px 20px;
}

.CustomTemplate .tt-suggestion + .tt-suggestion {
    border-top: 1px solid #ccc;
}

.CustomTemplate .repo-tag {
    float: right;
    font-style: italic;
}

.CustomTemplate .repo-name {
    font-weight: bold;
}

.CustomTemplate .repo-description {
    font-size: 14px;
}
